<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F27AC8621D564BAF00A58251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2F2BCCC1D327ED2009DCAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2F2BCE01D327ED3009DCAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
